h1, h3, h4, body, p{
    font-size: 24px;
    margin-top:10px;
    margin-bottom:10px;
    font-family: "Courier";
    color: #4de559;
    white-space: nowrap;
    overflow: hidden;
}
h2 {
    color: #fcdd65;
}

body {
    background-color:#000;
}

p, body {
        font-size: 18px;

}

h3{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
}


h3 task {
      animation: type 4s steps(60, end); 
}
p:nth-child(2){
  animation: type2 2s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}


 

td {
  width: 33.3%;
  height:250px;
  padding: 6px;
  background-color: #221f1f;
  vertical-align: top;
}

.button a {
  border-color: #fcdd65;
  background-color: #fc0;
}



 

h3:nth-child(2){
  animation: type2 8s steps(60, end);
}

h3 a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}



/* Elements */
.redbutton {
margin: 10px 25px 10px 10px;
padding: 10px 100px;
font-size: 20px;
line-height: 1.33;
background-color:#d61111;
border-radius: 4px;}

.bluebutton {
margin: 10px 25px 10px 10px;
padding: 10px 100px;
font-size: 20px;
line-height: 1.33;
background-color:#bff704;
border-radius: 4px;}


input { font-size:16px; font-family: courier; background-color:black;color:#29e229; } 


.lock td {
  width: 50px;
  height:50px;
  padding: 6px;
  background-color: #899da7;
}
.lock h2 {
    text-align:center;
    font-size:20px;
    color:#133760;
}

.lockbutton {
margin: 2px 0 2px 2px;
padding: 10px 50px;
font-size: 18px;
line-height: 1.33;
background-color:#82e37a;
border-radius: 4px;}
